.details {
  display: flex;
  margin-top: 1rem;
}

.studentInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.infoItem h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.infoItem span {
  font-size: 1rem;
  color: #7d7d7d;
}
.date {
  margin-right: 0.25rem;
  color: #7d7d7d;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 1.5rem;
}

.contentTitle {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightTitle {
  display: flex;
  align-items: center;
}

.closeIcon {
  @apply transition-all;
  margin-right: 0.75rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.closeIcon:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.summary {
  font-size: 1rem;
  font-weight: 400;
}

.processQuestionnairesButton {
  @apply transition-all;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 0rem 0.1rem;
}

.processQuestionnairesButton:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.15);
}

.processQuestionnairesButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.goalsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;
  margin: 10px 0px 10px 10px;
}

.cardPointerDefault {
  cursor: default !important;
}

.scrollWrapper {
  max-height: 82vh;
  overflow-y: scroll;
}
